---
http_interactions:
- request:
    method: get
    uri: http://chartapi.finance.yahoo.com/instrument/1.0/GOOG/chartdata;type=quote;range=1d/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 25 Nov 2016 18:00:00 GMT
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "finance_charts_json_callback( { \"meta\" :\n {\n  \"uri\" :\"/instrument/1.0/GOOG/chartdata;type=quote;range=1d/json\",\n
        \ \"ticker\" : \"goog\",\n  \"Company-Name\" : \"Alphabet Inc.\",\n  \"Exchange-Name\"
        : \"NMS\",\n  \"unit\" : \"MIN\",\n  \"timezone\" : \"EST\",\n  \"currency\"
        : \"USD\",\n  \"gmtoffset\" : -18000,\n  \"previous_close\" : 760.9900\n }\n
        ,\n \"Timestamp\" : {\"min\" :1480084200,\"max\" :1480107600 }\n ,\n \"labels\"
        : [1480086000,1480089600,1480093200,1480096800,1480100400,1480104000,1480107600
        ]\n ,\n \"ranges\" : {\"close\" : {\"min\" :760.6797,\"max\" :763.7400 },\"high\"
        : {\"min\" :760.7500,\"max\" :764.2600 },\"low\" : {\"min\" :760.6100,\"max\"
        :763.3850 },\"open\" : {\"min\" :760.7400,\"max\" :764.2600 },\"volume\" :
        {\"min\" :100,\"max\" :70100 } }\n ,\n \"series\" : [\n { \"Timestamp\" :1480084200,\"close\"
        :761.1600,\"high\" :764.2600,\"low\" :761.1600,\"open\" :764.2600,\"volume\"
        :43100 } \n, { \"Timestamp\" :1480084266,\"close\" :761.3200,\"high\" :761.3500,\"low\"
        :760.6492,\"open\" :761.1500,\"volume\" :200 } \n, { \"Timestamp\" :1480084322,\"close\"
        :763.7400,\"high\" :763.7800,\"low\" :761.3850,\"open\" :761.7400,\"volume\"
        :8900 } \n, { \"Timestamp\" :1480084405,\"close\" :762.5200,\"high\" :763.4200,\"low\"[...]
